<!DOCTYPE html>
<!DOCTYPE html>
<html ng-app="imatecQuestionsApp">

<head>
    <meta charset="utf-8">
    <title>
        Imatec Questions
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/imatecQuestions.js"></script>
    <script src="app/app.js"></script>
</head>

<body ng-controller="imatecQuestionsCtrl">
    <div class="page-header">
        <h1>IMATEC - Avaliação de nível de maturidade<span class="label label-default"></span></h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default">Add</button>
            </span>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    <input type="checkbox" ng-click="toggle(1)" /> Marcar todos
                </th>
                <th>
                    Completos: {{incompleteCount()}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in questions1.items">
                <td>
                    {{question.action}}
                </td>
                <td>
                    <input type="checkbox" ng-model="question.done" >
                </td>
                <td>
                    {{question.done}}
                </td>
            </tr>
        </tbody>
        <thead ng-if="incompleteCount1()==questions1.items.length">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    <input type="checkbox" ng-click="toggle(2)" /> Marcar todos
                </th>
                <th>
                    Completos: {{incompleteCount2()}}

                </th>
            </tr>
        </thead>
        <tbody ng-if="incompleteCount1()==questions1.items.length">
            <tr ng-repeat="question in questions2.items">
                <td>
                    {{question.action}}
                </td>

                <td>
                    <input type="checkbox" ng-model="question.done">
                </td>
                <td>
                    {{question.done}}
                </td>
            </tr>
        </tbody>
        <thead ng-if="incompleteCount2()==questions2.items.length">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    <input type="checkbox" ng-click="toggle(3)" /> Marcar todos
                </th>
                <th>
                    Completos: {{incompleteCount3()}}
                </th>
            </tr>
        </thead>
        <tbody ng-if="incompleteCount2()==questions2.items.length">
            <tr ng-repeat="question in questions3.items">
                <td>
                    {{question.action}}
                </td>
                <td>
                    <input type="checkbox" ng-model="question.done">
                </td>
                <td>
                    {{question.done}}
                </td>
            </tr>
        </tbody>
        <thead ng-if="incompleteCount3()==questions3.items.length">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    <input type="checkbox" ng-click="toggle(4)" /> Marcar todos
                </th>
                <th>
                    Completos: {{incompleteCount4()}}
                </th>
            </tr>
        </thead>
        <tbody ng-if="incompleteCount3()==questions3.items.length">
            <tr ng-repeat="question in questions4.items">
                <td>
                    {{question.action}}
                </td>
                <td>
                    <input type="checkbox" ng-model="question.done">
                </td>
                <td>
                    {{question.done}}
                </td>
            </tr>
        </tbody>
        <thead ng-if="incompleteCount4()==questions4.items.length">
            <tr>
                <th>
                    Descrição
                </th>
                <th>
                    <input type="checkbox" ng-click="toggle(5)" /> Marcar todos
                </th>
                <th>
                    Completos: {{incompleteCount5()}}
                </th>
            </tr>
        </thead>
        <tbody ng-if="incompleteCount4()==questions4.items.length">
            <tr ng-repeat="question in questions5.items">
                <td>
                    {{question.action}}
                </td>
                <td>
                    <input type="checkbox" ng-model="question.done">
                </td>
                <td>
                    {{question.done}}
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
